body {
  font-family: 'Poppins', sans-serif;
}

section {
  padding-top: 5rem;
}

.jumbotron {
  background-color: #e2edff;
}

#berita {
  background-color: #e2edff;
}

#berita .card {
  margin-right: 20px;
  border: none;
  box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.5);
}

.features-boxed .card {
  position: relative;
  border: none;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.4);
}

i {
  position: absolute;
  top: -20px;
  right: -15px;
}

a {
  text-decoration: none;
  color: black;
}
